html{
    height: 100%;
}

body{
    height: 100%;
    display:flex;
    background-color: black;
    justify-content:center; 
    
}

#mainContainer{
    flex:0.3;
    background-color: white;
    align-self: center;
}

#bookDisplay{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

dialog[open]{
    margin:0;
    position: absolute;
    top: 10cm;
    left: 14cm;
}



